body{
    min-height: 100vh;
}
h1{
    color:#baf5ef;
    font-size: 40px;
    padding: 10px;
}
.input-text{
    margin-top: 10px;
    color:#11a0b7;
 border: 1px solid #11a0b7;
}
.input-button{
    border: 1px solid #11a0b7;
    background-color: #fff;
    color:#11a0b7;
    margin-bottom: 10px;
    text-transform: uppercase;
}
button,
input{
    border: 1px solid #11a0b7;
    background-color: #fff;
    color:#11a0b7;
    margin: 5px;
}
button{
    text-transform: uppercase;
}
ol{
    margin: 0 auto;
}
li{
    margin: 10px auto;
    text-align: start;
    color:#11a0b7;
    padding-bottom: 5px;
    border-bottom: 1px solid #11a0b7;
}

label{
    color:#11a0b7; 
    cursor: pointer;
}
input[type=checkbox]:checked + span {
    font-style: normal;
    text-decoration: line-through;
}
.someList.done{
    text-decoration: line-through;
}