h1{
    font-size: 30px;
    color: rgb(230, 199, 26);
}
.list-text{
    border: 1px solid #e0cc10;
    width: 50vw;
    min-height: 25vh;
    margin: 0 auto;
    padding: 0.5%;
}
ol li{
   margin-left: 50px ; 
   text-align: start;
}
.center{
    text-align: center;
}
input{
  margin: 2%;  
}
